<section class="content-section">
  <div class="page_head">
    <h1>Date Picker</h1>
    <p class="text-center">
      Bootstrap-Datepicker Documentation:
      <i class="bx bxs-right-arrow-circle text-primary pr5"></i>
      <a
        target="blank"
        class="link-danger"
        href="https://uxsolutions.github.io/bootstrap-datepicker/"
        >uxSolutions</a
      >
    </p>
  </div>
  <div class="container">
    <div class="row m-lg-4">
      <div class="col-md-2">
        <span>Default Example:</span>
        <div id="datePicker1" class="input-group date">
          <input type="text" class="form-control" /><span
            class="input-group-addon"
            ><i class="bx bx-calendar"></i
          ></span>
        </div>
      </div>
    </div>
    <div class="row m-lg-4">
      <div class="col-md-2">
        <span>Turkish Language && Today Select Button:</span>
        <div id="datePicker2" class="input-group date">
          <input type="text" class="form-control" /><span
            class="input-group-addon"
            ><i class="bx bx-calendar"></i
          ></span>
        </div>
      </div>
    </div>
    <div class="row m-lg-4">
      <div class="col-md-4">
        <span>Range Picker:</span>
        <div id="datePicker3" class="input-daterange input-group">
          <input type="text" class="input-sm form-control" name="start" />
          <span class="input-group-addon">to</span>
          <input type="text" class="input-sm form-control" name="end" />
        </div>
      </div>
    </div>
  </div>
</section>
