<div class="sidebar">
  <div class="logo-details">
    <i class="bx bxl-c-plus-plus icon"></i>
    <div class="logo_name">Serkan</div>
    <i class="bx bx-menu" id="btn"></i>
  </div>
  <ul class="nav-list">
    <li>
      <i class="bx bx-search"></i>
      <input type="text" placeholder="Search..." />
    </li>
    <li>
      <a href="home">
        <i class="bx bx-grid-alt"></i>
        <span class="links_name">Index</span>
      </a>
    </li>
    <li>
      <a href="boxes">
        <i class="bx bx-box"></i>
        <span class="links_name">Boxes</span>
      </a>
    </li>
    <li>
      <a href="tables">
        <i class="bx bx-table"></i>
        <span class="links_name">Tables</span>
      </a>
    </li>
    <li>
      <a href="datePicker">
        <i class="bx bx-time"></i>
        <span class="links_name">DatePicker</span>
      </a>
    </li>
    <li>
      <a href="calendar">
        <i class="bx bx-calendar"></i>
        <span class="links_name">DatePicker</span>
      </a>
    </li>
    <li class="profile">
      <div class="profile-details">
        <!--<img src="profile.jpg" alt="profileImg">-->
        <div class="text-white">Serkan Baykal</div>
      </div>
      <i class="bx bx-log-out" id="log_out"></i>
    </li>
  </ul>
</div>
